@using Org.Business.Objects
@using System.Security.Claims
@model List<Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>@(ViewBag.Title)</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">@(ViewBag.Title)</h2>
            <small>Following is the List of @(ViewBag.Title)</small>
        </div>
        <div class="panel-body no-padding no-margins">

        </div>

    </div>
</div>

<div class="content animate-panel">
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <a href="@Url.Action("AddEdit","Product")" class="btn btn-success"><i class="fa fa-plus"></i> Add New Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table id="ProductsList" class="table table-striped table-bordered table-hover customdatatable" data-page-size="@(Model.Count)">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Database</th>
                                        <th>Created Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ProductName</td>
                                                <td>@item.DataBaseName</td>
                                                <td>@item.RecCreatedDt.Value.ToString(CommonStatus.DateTimeFormat.SimpleDateFormat)</td>
                                                <td>
                                                    <a href="@(Url.Action("AddEdit", "Product",new { @ProductId =item.Id}))" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                                    <a href="#" id="btnSendEmails" onclick="SendASEEmails(this)" data-ProductId="@item.Id" class="btn btn-primary btn-xs"><i class="fa fa-send"></i> Send Emails</a>
                                                    <a href="#" data-ProductId="@item.Id" class="btn btn-danger btn-xs btnRemoveProduct"><i class="fa fa-trash"></i> Remove</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datatables/css")
    @*@Styles.Render("~/bundles/datatablesResponsive/css")*@
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/sweetAlert/css")

}


@section Scripts {
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @*@Scripts.Render("~/bundles/datatablesResponsive/js")*@
    @Scripts.Render("~/bundles/sweetAlert/js")

    @Scripts.Render("~/bundles/validation/js")

    <script>
        $(document).ready(function () {
            $('#ProductsList').DataTable({
                //"paging": true,
                //"info": false,
                "paging": true,
                //"searching": true,
                "order": [[2, "desc"]],
                "language": {
                    "emptyTable": "No Product has been added yet."
                },
                "searching": false
            });
        })

        $(".btnRemoveProduct").click(function () {
            var ProductId = $(this).attr("data-ProductId");
            var table = $('#ProductsList').DataTable();
            var chk=$(this);
            swal({
                title: "Remove Product",
                text: "Are you sure to remove Product?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#D24637',
                confirmButtonText: 'Yes, I am sure!',
                cancelButtonText: "No, cancel it!",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("RemoveProduct", "Product")',
                        data: {
                            "ProductId": ProductId
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            table.row($(chk).closest('tr')).remove().draw(false);
                            swal({
                                title: "Success",
                                text: "Product has been removed successfully.",
                                type: "success"
                            });
                        },
                        error: function (data) {
                            swal({
                                title: "Error!",
                                text: "Unable to Remove Product. Please try again later.",
                                type: "error"
                            });
                            HideStickyPopup();
                        }
                    })
                }
            });
            
        })

        function SendASEEmails(chk) {
            ShowStickyPopup();
            var ProductId = $(chk).attr("data-ProductId");
            $.ajax({
                url: '@Url.Action("SendASEEmails", "Product")',
                data: {
                    "ProductId": ProductId
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    HideStickyPopup();
                },
                error: function (data) {
                    HideStickyPopup();
                }
            })
        }

    </script>
}
